<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Drop</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<div class="container">
    <div th:replace="fragments.html :: header"></div>

        <h2>About</h2>
        <p>This is an app created by Adam Cross mainly for practice learning Spring boot and related technologies.</p>

        <p>This app is built on Spring boot. It uses Thymeleaf templates, and it uses Spring Security. It is hosted
        on Heroku using a MySQL database to persist user data.</p>

        <h3>What does the app do?</h3>
        <p>
            You can store bits of text data and easily tag them by subject using #hashtags.
            The query feature allows you to easily search all of your existing notes to find them again later.
        </p>
        <h3>
            So the entire purpose of this app is just to store and retrieve bits of text data?
        </h3>
        <p>
            Yes. It's worth noting how querying works though. If you query your notes for "#apple #pear" then
            it will return only the notes with both the #apple and the #pear hashtags.
        </p>
        <p>
            After some user feedback, we have made search by hashtag optional. If your search query includes a
            hashtag, then Drop will use hashtag search. Otherwise, it will revert to a simpler form of search
            based on simple string containment.
        </p>
        <h3>I noticed an error when I did [X].</h3>
        <p>
            This is a one-man project made for practice. I will keep polishing it as a learning
            exercise, but I will probably never complete it to the standards of a production
            application.
        </p>
        <h3>How secure is this app?</h3>
        <p>
            Drop should not be used for confidential information. Your notes and password are stored in the database as plain text.
             Anyone with access to the database can read
            all of the information. That said, the security should hold up against casual hacking attempts by unauthorized users,
            depending on the quality of your password.
        </p>
        <p>
            I do not recommend using this app to store passwords.
        </p>
        <h3>To-Do</h3>
        <ul>
            <li>support for changing user password</li>
            <li>support for password recovery</li>
            <li>encrypt entries for storage in the database</li>
        </ul>
        <div><a href="/">home</a></div>
        <div th:replace="fragments.html :: footer"></div>
    </div>
</body>
</html>