<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Drop</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="style.css">

    <script>
        function deleteById(id) {
            if (confirm("Really delete note " + id + "?")){
                axios({
                    method: 'delete',
                    url: '/drop/' + id
                })
                .then(function(response) {
                    location.reload();
                })
                .catch(function(){
                    alert("An unexpected error occurred while trying to delete the note.");
                })
            }
        }
    </script>
</head>
<body>
<div class="container">

    <div th:replace="fragments.html :: header"></div>

    <div th:if="${errorText != null}" class="alert alert-danger" role="alert">
        <span th:text="${errorText}">Here is an error</span>
    </div>
    <div th:if="${messageText != null}" class="alert alert-info" role="alert">
        <span th:text="${messageText}">Here is a message</span>
    </div>
    <p>Save short bits of text and easily find them again later, like sending Tweets to yourself.</p>
    <div class="row">
        <div class="col-md-6">
            <h2>Save New Data Here</h2>
            <div>
                <form action="/drop" th:action="@{/drop}" method="POST" th:object="${drop}">
                    <input type="hidden" th:field="*{id}">
                    <p><textarea class="form-control" th:field="*{text}"></textarea>
                        <span th:if="${#fields.hasErrors('text')}" th:errors="*{text}">Text Error</span>
                    </p>
                    <p><input class="btn btn-primary" type="submit" value="save"/>
                        <a href="/drop" class="btn btn-primary" th:if="${update != null}">cancel</a>
                    </p>
                </form>
            </div>


        </div>


        <div class="col-md-6">
            <h2>Find Saved Data Here</h2>
            <div>
                <form action="/drop" method="GET">
                    <p><input class="form-control" type="text" name="query" th:value="${query}" /></p>
                    <p>
                        <input class="btn btn-primary" type="submit" value="search"/>
                    </p>
                </form>
            </div>

            <div th:if="${drops != null}">
                <p><em>Top results from your query:</em></p>
                <p th:each="drop: ${drops}">
                    <span th:text="${drop.text}">Here is some drop text</span>
                    <span ><a th:href="'drop/'+${drop.id}">edit</a></span>
                    <span ><a href="" th:onclick="'deleteById('+${drop.id}+');return false;'">delete</a></span>
                </p>
            </div>
        </div>
    </div>

    <div><a href="/logout">log out</a> | <a href="/about">about</a></div>
    <div th:replace="fragments.html :: footer"></div>
</div>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</body>
</html>